<?xml version="1.0" ?><FASTConfiguration _type="null">
	<DefaultReaderConfiguration _type="null" autoStart="true" categoryTags="" description="Log4j" fullDescription="Collects Events from Log4j Applications" logInterval="1" logLocation="/var/log/log4j.log" logManagementOutput="10.254.10.18" logManagementPort="10101" logStartPoint="-1" logType="BufferedReader" node="spop" readerName="Log4j" readerOutput="Alert" reopenOnRead="true" reopenOnRead_type="boolean" stateVars="logStartPoint,readerName" toolId="Log4j" toolType="Application" vendor="" version="$Revision: #7 $">
		<file _type="null" attributeName="logLocation" enabled="true" formatRule="" formatted="false" labelText="Log File:" preferredOrder="1" toolTipText="Directory or path to read from" visible="true">
		</file>
		<string _type="null" attributeName="logManagementOutput" enabled="false" formatRule="" formatted="false" guiVersion="4" labelText="nDepth Host:" preferredOrder="91" toolTipText="Hostname of the nDepth appliance to receive log data" visible="false">
		</string>
		<integer _type="null" attributeName="logManagementPort" enabled="false" guiVersion="4" labelText="nDepth Port:" maxValue="32000" minValue="0" preferredOrder="92" toolTipText="Port number of the nDepth appliance to receive log data" visible="false">
		</integer>
		<select _type="null" attributeName="readerOutput" enabled="false" guiVersion="4" labelText="Output:" preferredOrder="90" selectItems="Alert;InDepth;Alert, InDepth" toolTipText="Data routing (normalized alerts to Manager and/or raw data to nDepth)" visible="false">
		</select>
		<integer _type="null" attributeName="logInterval" enabled="true" labelText="Sleep Time:" maxValue="3660" minValue="1" preferredOrder="97" toolTipText="Number of seconds between log reads" visible="true">
		</integer>
		<string _type="null" attributeName="version" enabled="false" formatRule="" formatted="false" labelText="Tool Version:" preferredOrder="99" toolTipText="Tool version" visible="true">
		</string>
		<string _type="null" attributeName="toolId" enabled="false" formatRule="" formatted="false" labelText="Wrapper Name:" preferredOrder="98" toolTipText="Tool Identifier" visible="true">
		</string>
	</DefaultReaderConfiguration>
	<FastToolId _type="null" description="Log4j" id="Log4j" version="117" version_type="int">
		<FastPattern _type="null" alertName="ServiceInfo" description="ServiceInfo: INFO - standard format" matcher="([-\d]+ [:\d]+),(\d+) (\S+) +\[(\S+)\] (.*)" pattern="^[-\d]+ [:\d]+,\d+ INFO[ ]+" version="5" version_type="int">
			<FastField _type="null" defaultValue="$3 from &quot;$4&quot;" fieldName="EventInfo" type="1" type_type="int" version="2" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$1.$2" fieldName="DetectionTime" type="4" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$3" fieldName="ProviderSID" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$4" fieldName="ServiceName" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$5" fieldName="InfoMessage" type="1" type_type="int" version="1" version_type="int">
				<FastFormatter _type="null" condition="(.*)[:]" description="terminal :" format="$8" matcherInput="$5" version="1" version_type="int">
				</FastFormatter>
			</FastField>
		</FastPattern>
		<FastPattern _type="null" alertName="ServiceInfo" description="ServiceInfo: DEBUG - standard format" matcher="([-\d]+ [:\d]+),(\d+) (\S+) +\[(\S+)\] *(.*)" pattern="^[-\d]+ [:\d]+,\d+ DEBUG[ ]+" version="6" version_type="int">
			<FastField _type="null" defaultValue="$3 from &quot;$4&quot;" fieldName="EventInfo" type="1" type_type="int" version="2" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$1.$2" fieldName="DetectionTime" type="4" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$3" fieldName="ProviderSID" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$4" fieldName="ServiceName" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$5" fieldName="InfoMessage" type="1" type_type="int" version="1" version_type="int">
				<FastFormatter _type="null" condition="(.*)[:]" description="terminal :" format="$8" matcherInput="$5" version="1" version_type="int">
				</FastFormatter>
			</FastField>
		</FastPattern>
		<FastPattern _type="null" alertName="ServiceWarning" description="ServiceWarning: WARN - standard format" matcher="([-\d]+ [:\d]+),(\d+) (\S+) +\[(\S+)\] (.*)" pattern="^[-\d]+ [:\d]+,\d+ WARN[ ]+" version="6" version_type="int">
			<FastField _type="null" defaultValue="$3 from &quot;$4&quot;" fieldName="EventInfo" type="1" type_type="int" version="2" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$1.$2" fieldName="DetectionTime" type="4" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$3" fieldName="ProviderSID" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$4" fieldName="ServiceName" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$5" fieldName="WarningMessage" type="1" type_type="int" version="5" version_type="int">
			</FastField>
		</FastPattern>
		<FastPattern _type="null" alertName="" alertName_type="null" description="NullAlert: DEBUG , INFO - null for now" matcher="([-\d]+ [:\d]+),(\d+) ([A-Z]+)\s+\[[^]]+\] (\S+) +- (.*)" pattern="^[-\d]+ [:\d]+,\d+ (?:DEBUG|INFO)[ ]+" version="1" version_type="int">
		</FastPattern>
		<FastPattern _type="null" alertName="ServiceWarning" description="ServiceWarning: ERROR - standard format" matcher="([-\d]+ [:\d]+),(\d+) ([A-Z]+)\s+\[[^]]+\] (\S+) +- (.*)" pattern="^[-\d]+ [:\d]+,\d+ ERROR[ ]+" version="3" version_type="int">
			<FastField _type="null" defaultValue="$3 from &quot;$4&quot;" fieldName="EventInfo" type="1" type_type="int" version="3" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$1.$2" fieldName="DetectionTime" type="4" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$3" fieldName="ProviderSID" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$4" fieldName="ServiceName" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$5" fieldName="WarningMessage" type="1" type_type="int" version="2" version_type="int">
				<FastFormatter _type="null" condition="(?i)(.*) stack\s*trace\s*:.*" description="stack trace" format="$7" matcherInput="$5" version="1" version_type="int">
				</FastFormatter>
			</FastField>
		</FastPattern>
		<FastPattern _type="null" alertName="ServiceWarning" description="ServiceWarning: WARN - standard format" matcher="([-\d]+ [:\d]+),(\d+) ([A-Z]+)\s+\[[^]]+\] (\S+) +- (.*)" pattern="^[-\d]+ [:\d]+,\d+ WARN[ ]+" version="5" version_type="int">
			<FastField _type="null" defaultValue="$3 from &quot;$4&quot;" fieldName="EventInfo" type="1" type_type="int" version="3" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$1.$2" fieldName="DetectionTime" type="4" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$3" fieldName="ProviderSID" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$4" fieldName="ServiceName" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$5" fieldName="WarningMessage" type="1" type_type="int" version="4" version_type="int">
				<FastFormatter _type="null" condition="(?i)(.*) stack\s*trace\s*:.*" description="stack trace" format="$7" matcherInput="$5" version="1" version_type="int">
				</FastFormatter>
			</FastField>
		</FastPattern>
		<FastPattern _type="null" alertName="ServiceWarning" description="ServiceWarning: FATAL - standard format" matcher="([-\d]+ [:\d]+),(\d+) ([A-Z]+)\s+\[[^]]+\] (\S+) +- (.*)" pattern="^[-\d]+ [:\d]+,\d+ FATAL[ ]+" version="3" version_type="int">
			<FastField _type="null" defaultValue="$3 from &quot;$4&quot;" fieldName="EventInfo" type="1" type_type="int" version="3" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$1.$2" fieldName="DetectionTime" type="4" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$3" fieldName="ProviderSID" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$4" fieldName="ServiceName" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$5" fieldName="WarningMessage" type="1" type_type="int" version="2" version_type="int">
				<FastFormatter _type="null" condition="(?i)(.*) stack\s*trace\s*:.*" description="stack trace" format="$7" matcherInput="$5" version="1" version_type="int">
				</FastFormatter>
			</FastField>
		</FastPattern>
		<FastPattern _type="null" alertName="UserLogon" description="UserLogon: Accepting" matcher="\[([\w/]+):([\d:]+) ICT\] \[(\S+)\]: Accepting: (\S+)@([-\w.]+):(\d+)-&gt;(\S+):(\d+)\. (.+)" pattern="\[[\w/]+:[\d:]+ ICT\] \[\S+\]:\s*Accepting" version="1" version_type="int">
			<FastField _type="null" defaultValue="Logon &quot;$4&quot; from &quot;$5&quot;" fieldName="EventInfo" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$1$2" fieldName="DetectionTime" type="4" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$3-4" fieldName="ProviderSID" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$9" fieldName="ExtraneousInfo" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$7" fieldName="SourceAccount" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$4" fieldName="DestinationAccount" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$5" fieldName="SourceMachine" type="1" type_type="int" version="1" version_type="int">
			</FastField>
		</FastPattern>
		<FastPattern _type="null" alertName="UserLogonFailure" description="UserLogonFailure: Closing" matcher="\[([\w/]+):([\d:]+) ICT\] \[(\S+)\]:\s*Closing: (\S+)@([-\w.]+):(\d+)-&gt;(\S+):(\d+) because &quot;([^&quot;]+)&quot;\. (.+)" pattern="\[[\w/]+:[\d:]+ ICT\] \[\S+\]:\s*Closing" version="1" version_type="int">
			<FastField _type="null" defaultValue="Logon failed &quot;$4&quot;" fieldName="EventInfo" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$1$2" fieldName="DetectionTime" type="4" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$3-5" fieldName="ProviderSID" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$9" fieldName="ExtraneousInfo" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$7" fieldName="SourceAccount" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$4" fieldName="DestinationAccount" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$5" fieldName="SourceMachine" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$9" fieldName="FailureReason" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="1" fieldName="FailureCount" type="2" type_type="int" version="1" version_type="int">
			</FastField>
		</FastPattern>
		<FastPattern _type="null" alertName="ServiceInfo" description="ServiceInfo: Reconnecting client, Destination destroyed, Auto-creating, Purged" matcher="\[([\w/]+):([\d:]+) ICT\] \[(\S+)\]: (.+)" pattern="\[[\w/]+:[\d:]+ ICT\] \[\S+\]: (?:Reconnecting client|Destination|Purged|Auto-creating)" version="2" version_type="int">
			<FastField _type="null" defaultValue="$4" fieldName="EventInfo" type="1" type_type="int" version="2" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$1$2" fieldName="DetectionTime" type="4" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$3-6" fieldName="ProviderSID" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="ICT" fieldName="ServiceName" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$4" fieldName="InfoMessage" type="1" type_type="int" version="1" version_type="int">
			</FastField>
		</FastPattern>
		<FastPattern _type="null" alertName="ServiceInfo" description="ServiceInfo: Destroying - unresponsive connection, auto-creted destination" matcher="\[([\w/]+):([\d:]+) ICT\] \[(\S+)\]: (.+)" pattern="\[[\w/]+:[\d:]+ ICT\] \[\S+\]: Destroying (?:unresponsive connection|auto-created destination)" version="2" version_type="int">
			<FastField _type="null" defaultValue="$4" fieldName="EventInfo" type="1" type_type="int" version="2" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$1$2" fieldName="DetectionTime" type="4" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$3-7" fieldName="ProviderSID" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="ICT" fieldName="ServiceName" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$4" fieldName="InfoMessage" type="1" type_type="int" version="1" version_type="int">
			</FastField>
		</FastPattern>
		<FastPattern _type="null" alertName="ServiceWarning" description="ServiceWarning: messaged queued on destroyed connection" matcher="\[([\w/]+):([\d:]+) ICT\] ([^:]+): (.+)\[(.+)\]" pattern="\[[\w/]+:[\d:]+ ICT\] Internal Warning: message PING" version="1" version_type="int">
			<FastField _type="null" defaultValue="$4" fieldName="EventInfo" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$1$2" fieldName="DetectionTime" type="4" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="8" fieldName="ProviderSID" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="ICT" fieldName="ServiceName" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$4[$5]" fieldName="WarningMessage" type="1" type_type="int" version="0" version_type="int">
			</FastField>
		</FastPattern>
		<FastPattern _type="null" alertName="ServiceInfo" description="ServiceWarning: Connection refused" matcher="\[([\w/]+):([\d:]+) ICT\] ([^:]+): (.+) failed: (.+)" pattern="\[[\w/]+:[\d:]+ ICT\] WARNING \[\S+\]: .+?Connection refused" version="1" version_type="int">
			<FastField _type="null" defaultValue="$4 failed" fieldName="EventInfo" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$1$2" fieldName="DetectionTime" type="4" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="WARNING-9" fieldName="ProviderSID" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="ICT" fieldName="ServiceName" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$5" fieldName="InfoMessage" type="1" type_type="int" version="1" version_type="int">
			</FastField>
		</FastPattern>
		<FastPattern _type="null" alertName="IPTrafficAudit" description="IPTrafficAudit: Sending/Receiving Packet" matcher="\[([\w/]+):([\d:]+) ICT\] ([\w ]+)\s*:.+?\[\S+/([-\w.]+):(\d+)\] &lt;---&gt;.+?\[\S*/([-\w.]+):(\d+)\]" pattern="\[[\w/]+:[\d:]+ ICT\] (?:SENDING|RECEIVING) PACKET" version="1" version_type="int">
			<FastField _type="null" defaultValue="$3 from &quot;$4&quot; to &quot;$6&quot;" fieldName="EventInfo" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$1$2" fieldName="DetectionTime" type="4" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="10" fieldName="ProviderSID" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$4" fieldName="SourceMachine" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$6" fieldName="DestinationMachine" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$5" fieldName="SourcePort" type="2" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$7" fieldName="DestinationPort" type="2" type_type="int" version="1" version_type="int">
			</FastField>
		</FastPattern>
		<FastPattern _type="null" alertName="NetworkConnectionAudit" description="NetworkConnectionAudit: Established cluster connection" matcher="\[([\w/]+):([\d:]+) ICT\] \[(\S+)\]: Established cluster connection to broker (.+?)\[/([-\w.]+):(\d+)\]" pattern="\[[\w/]+:[\d:]+ ICT\] \[\S+\]: Established cluster connection" version="1" version_type="int">
			<FastField _type="null" defaultValue="Established cluster connection to broker $4 at &quot;$4&quot;" fieldName="EventInfo" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$1$2" fieldName="DetectionTime" type="4" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$3-11" fieldName="ProviderSID" type="1" type_type="int" version="1" version_type="int">
			</FastField>
		</FastPattern>
		<FastPattern _type="null" alertName="NetworkConnectionAudit" description="NetworkConnectionAudit: Connection errors" matcher="\[([\w/]+):([\d:]+) ICT\].*?\[(\S+)\]: (.+)" pattern="\[[\w/]+:[\d:]+ ICT\].*?\[\S+\]: (?:Still trying|Attempting).*(!Connection refused)?" version="2" version_type="int">
			<FastField _type="null" defaultValue="$4" fieldName="EventInfo" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$1$2" fieldName="DetectionTime" type="4" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$3-12" fieldName="ProviderSID" type="1" type_type="int" version="2" version_type="int">
			</FastField>
		</FastPattern>
		<FastPattern _type="null" alertName="ServiceInfo" description="ServiceInfo: catchall-1" matcher="\[([\w/]+):([\d:]+) ICT\] \[(\S+)\]: (.+)" pattern="\[[\w/]+:[\d:]+ ICT\] \[\S+\]:" version="4" version_type="int">
			<FastField _type="null" defaultValue="$4" fieldName="EventInfo" type="1" type_type="int" version="2" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$1$2" fieldName="DetectionTime" type="4" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$3-13" fieldName="ProviderSID" type="1" type_type="int" version="4" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="ICT" fieldName="ServiceName" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$4" fieldName="InfoMessage" type="1" type_type="int" version="2" version_type="int">
			</FastField>
		</FastPattern>
		<FastPattern _type="null" alertName="ServiceInfo" description="ServiceInfo: catchall-2" matcher="\[([\w/]+):([\d:]+) ICT\] (.+)" pattern="\[[\w/]+:[\d:]+ ICT\]" version="4" version_type="int">
			<FastField _type="null" defaultValue="$3" fieldName="EventInfo" type="1" type_type="int" version="2" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$1$2" fieldName="DetectionTime" type="4" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="14" fieldName="ProviderSID" type="1" type_type="int" version="4" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="ICT" fieldName="ServiceName" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$3" fieldName="InfoMessage" type="1" type_type="int" version="2" version_type="int">
			</FastField>
		</FastPattern>
		<FastPattern _type="null" alertName="InternalNewToolData" description="InternalNewToolData: unmatched messges" matcher="([-\d]+ [:\d]+),(\d+) ([A-Z]+).*" pattern="^[-\d]+ [:\d]+,\d+ [A-Z]+\s+" version="4" version_type="int">
			<FastField _type="null" defaultValue="Unmatched Log4Net Data ($Revision: #7 $)" fieldName="EventInfo" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$1.$2" fieldName="DetectionTime" type="4" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$3" fieldName="ProviderSID" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$0" fieldName="ExtraneousInfo" type="1" type_type="int" version="1" version_type="int">
			</FastField>
		</FastPattern>
		<FastPattern _type="null" alertName="InternalNewToolData" description="InternalNewToolData: unmatched messges - Internal Warning" matcher="\[([\w/]+):([\d:]+) ICT\].*" pattern="\[[\w/]+:[\d:]+ ICT\] Internal Warning:" version="1" version_type="int">
			<FastField _type="null" defaultValue="Unmatched Log4Net Data ($Revision: #7 $)" fieldName="EventInfo" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$1 $2" fieldName="DetectionTime" type="4" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$3" fieldName="ProviderSID" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$0" fieldName="ExtraneousInfo" type="1" type_type="int" version="1" version_type="int">
			</FastField>
		</FastPattern>
		<FastPattern _type="null" alertName="InternalNewToolData" description="InternalNewToolData: unmatched messges-ICT" matcher="\[([\w/]+):([\d:]+) ICT\] \[(\S+)\].*" pattern="\[[\w/]+:[\d:]+ ICT\] \[\S+\]:" version="1" version_type="int">
			<FastField _type="null" defaultValue="Unmatched Log4Net Data ($Revision: #7 $)" fieldName="EventInfo" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$1.$2" fieldName="DetectionTime" type="4" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$3" fieldName="ProviderSID" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$0" fieldName="ExtraneousInfo" type="1" type_type="int" version="1" version_type="int">
			</FastField>
		</FastPattern>
		<FastPattern _type="null" alertName="" description="BlackHole" matcher=".*" pattern=".*" version="1" version_type="int">
		</FastPattern>
		<FastPattern _type="null" alertName="ServiceInfo" description="ServiceInfo: INFO - standard format;" matcher="([-\d]+ [:\d]+),(\d+) ([A-Z]+)\s+\[[^]]+\] (\S+) +- (.*); (.*)" pattern="^[-\d]+ [:\d]+,\d+ INFO[ ]+" version="4" version_type="int">
			<FastField _type="null" defaultValue="$3 from &quot;$4&quot;" fieldName="EventInfo" type="1" type_type="int" version="2" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$1.$2" fieldName="DetectionTime" type="4" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$3" fieldName="ProviderSID" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$6" fieldName="ExtraneousInfo" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$4" fieldName="ServiceName" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$5" fieldName="InfoMessage" type="1" type_type="int" version="1" version_type="int">
				<FastFormatter _type="null" condition="(.*)[:]" description="terminal :" format="$8" matcherInput="$5" version="1" version_type="int">
				</FastFormatter>
			</FastField>
		</FastPattern>
	</FastToolId>
</FASTConfiguration>
