<?xml version="1.0" ?><FASTConfiguration _type="null">
	<DefaultReaderConfiguration _type="null" autoStart="true" categoryTags="syslog" description="nLog" fullDescription="Collects events using nLog" logInterval="1" logLocation="\var\log\Nlog-Log" logManagementOutput="10.254.10.18" logManagementPort="10101" logStartPoint="1" logType="UnixSyslogFileReader" node="manager,spop" readerName="nLog" readerOutput="Alert" stateVars="logStartPoint,readerName" toolId="nLog" toolType="nLog" vendor="nLog" version="$Revision: #3 $">
		<file _type="null" attributeName="logLocation" enabled="true" formatRule="" formatted="false" labelText="Log File:" preferredOrder="1" toolTipText="Directory or path to read from" visible="true">
		</file>
		<string _type="null" attributeName="logManagementOutput" enabled="false" formatRule="" formatted="false" guiVersion="4" labelText="nDepth Host:" preferredOrder="91" toolTipText="Hostname of the nDepth appliance to receive log data" visible="false">
		</string>
		<integer _type="null" attributeName="logManagementPort" enabled="false" guiVersion="4" labelText="nDepth Port:" maxValue="32000" minValue="0" preferredOrder="92" toolTipText="Port number of the nDepth appliance to receive log data" visible="false">
		</integer>
		<select _type="null" attributeName="readerOutput" enabled="false" guiVersion="4" labelText="Output:" preferredOrder="90" selectItems="Alert;InDepth;Alert, InDepth" toolTipText="Data routing (normalized alerts to Manager and/or raw data to nDepth)" visible="false">
		</select>
		<integer _type="null" attributeName="logInterval" enabled="true" labelText="Sleep Time:" maxValue="3660" minValue="1" preferredOrder="97" toolTipText="Number of seconds between log reads" visible="true">
		</integer>
		<string _type="null" attributeName="version" enabled="false" formatRule="" formatted="false" labelText="Tool Version:" preferredOrder="99" toolTipText="Tool version" visible="true">
		</string>
		<string _type="null" attributeName="toolId" enabled="false" formatRule="" formatted="false" labelText="Wrapper Name:" preferredOrder="98" toolTipText="Tool Identifier" visible="true">
		</string>
	</DefaultReaderConfiguration>
	<FastToolId _type="null" description="nLog" id="nLog" version="115" version_type="int">
		<FastPattern _type="null" alertName="ServiceWarning" description="1, ServiceWarning: SHOP Error messages" matcher="([\d-]+),([\d:.]+),(\w+),([^,]+),([^,]+),([^\|]+)\|.*?\|S2ADD1\|([^\|]+)\|([^\|]+)\|([^\|]+)\|.*?RET_ADDRESS\d*\|([^\|]+)\|([^\|]+)\|([^\|]+)\|([^\|]+)\|([^\|]+)\|.*?ERRCODE\|([^\|]+)\|.*" pattern="[\d-]+,[\d:.]+,Error,[^,]+,[^,]+,SHOP\|[^\|]+\|[^\|]+\|[^\|]+\|[^\|]+\|" version="1" version_type="int">
			<FastField _type="null" defaultValue="$6 $3 messages" fieldName="EventInfo" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$1 $2" fieldName="DetectionTime" type="4" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="1" fieldName="ProviderSID" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="S2ADD1: $7; $8: $9; RET_ADDRESS: $10; $11: $12; $13: $14; ERRCODE: $15" fieldName="ExtraneousInfo" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$6 $3 messages; ERRCODE: $15" fieldName="WarningMessage" type="1" type_type="int" version="1" version_type="int">
			</FastField>
		</FastPattern>
		<FastPattern _type="null" alertName="ServiceWarning" description="2, ServiceWarning: RATE Error messages" matcher="([\d-]+),([\d:.]+),(\w+),([^,]+),([^,]+),([^\|]+)\|.*?\|S2ADD1\|([^\|]+)\|([^\|]+)\|([^\|]+)\|.*?RET_ADDRESS\d*\|([^\|]+)\|([^\|]+)\|([^\|]+)\|([^\|]+)\|([^\|]+)\|.*?ERRCODE\|([^\|]+)\|.*" pattern="[\d-]+,[\d:.]+,Error,[^,]+,[^,]+,RATE\|[^\|]+\|[^\|]+\|[^\|]+\|[^\|]+\|" version="1" version_type="int">
			<FastField _type="null" defaultValue="$6 $3 messages" fieldName="EventInfo" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$1 $2" fieldName="DetectionTime" type="4" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="2" fieldName="ProviderSID" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="S2ADD1: $7; $8: $9; RET_ADDRESS: $10; $11: $12; $13: $14; ERRCODE: $15" fieldName="ExtraneousInfo" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$6 $3 messages; ERRCODE: $15" fieldName="WarningMessage" type="1" type_type="int" version="1" version_type="int">
			</FastField>
		</FastPattern>
		<FastPattern _type="null" alertName="ServiceWarning" description="3, ServiceWarning: SHIP Error messages" matcher="([\d-]+),([\d:.]+),(\w+),([^,]+),([^,]+),([^\|]+)\|.*?\|S2ADD1\|([^\|]+)\|([^\|]+)\|([^\|]+)\|.*?RET_ADDRESS\d*\|([^\|]+)\|([^\|]+)\|([^\|]+)\|([^\|]+)\|([^\|]+)\|.*?ERRCODE\|([^\|]+)\|.*" pattern="[\d-]+,[\d:.]+,Error,[^,]+,[^,]+,SHIP\|[^\|]+\|[^\|]+\|[^\|]+\|[^\|]+\|" version="1" version_type="int">
			<FastField _type="null" defaultValue="$6 $3 messages" fieldName="EventInfo" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$1 $2" fieldName="DetectionTime" type="4" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="3" fieldName="ProviderSID" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="S2ADD1: $7; $8: $9; RET_ADDRESS: $10; $11: $12; $13: $14; ERRCODE: $15" fieldName="ExtraneousInfo" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$6 $3 messages; ERRCODE: $15" fieldName="WarningMessage" type="1" type_type="int" version="1" version_type="int">
			</FastField>
		</FastPattern>
		<FastPattern _type="null" alertName="InternalNewToolData" description="InternalNewToolData: unmatched data" matcher="([\d-]+),([\d:.]+),(\w+),([^,]+),([^,]+),([^\|]+)\|([^\|]+)\|([^\|]+)\|([^\|]+)\|([^\|]+)\|([^\|]+)\|([^\|]+)\|([^\|]+)\|([^\|]+)\|([^\|]+)\|([^\|]+)\|.*" pattern="[\d-]+,[\d:.]+,\w+,\S+,[^,]+,[^\|]+\|[^\|]+\|[^\|]+\|[^\|]+\|[^\|]+\|" version="6" version_type="int">
			<FastField _type="null" defaultValue="Unmatched nLog Data ($Revision: #3 $)" fieldName="EventInfo" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$1 $2" fieldName="DetectionTime" type="4" type_type="int" version="2" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$3" fieldName="ProviderSID" type="1" type_type="int" version="1" version_type="int">
			</FastField>
			<FastField _type="null" defaultValue="$0" fieldName="ExtraneousInfo" type="1" type_type="int" version="1" version_type="int">
			</FastField>
		</FastPattern>
		<FastPattern _type="null" alertName="" description="NullAlert: the ultimate black hole" matcher=".*" pattern=".*" version="1" version_type="int">
		</FastPattern>
	</FastToolId>
</FASTConfiguration>
